<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/forms.css">
		<link rel="stylesheet" href="/css/nav.css">
	</head>
	<body>

		<header>
		  <div id="nav">
		    <ul>
		        <li><a href="/">Home</a></li>
		        <li><a href="/areas">Areas</a></li>
		        <li><a href="/attractions">Attractions</a></li>
		    </ul>
		  </div>
		</header>


		<main>
			<form action="/attractions/<%=attraction._id%>?_method=PUT" method="post" class="white-pink">
				<h1>Edit Memories of this Attraction</h1>
				<label>
					<span>Choose Affiliated Area</span>
				</label>
				<select name="areaId">
                    <% for(var i = 0; i < areas.length; i++) { %>
                        <option value="<%=areas[i]._id%>"><%=areas[i].name%></option>
                    <% } %>
                </select><br/>
				<label>
					<span>Attraction Name</span>
					<input type="text" placeholder="Attraction Theme" name="theme" /><br/>
				</label>
				<label>
					<span>Who did you meet?</span>
					<textarea name="characters" placeholder="Which Disney friends did you meet here?"></textarea><br/>
				</label>
				<label>
					<span>Log Memories</span>
					<textarea name="description" placeholder="Description of your magical experiences"></textarea><br/>
				</label>
				<label>
					<span>&nbsp;</span>
					<input type="submit" class="button" value="Edit"/>
				</label>
			</form>
		</main>
	</body>
</html>
