<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Create an Attraction</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/attractions">Attractions Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/attractions" method="post">
				Choose Affiliated Area
				<select name="areaId">
                    <% for(var i = 0; i < areas.length; i++) { %>
                        <option value="<%=areas[i]._id%>"><%=areas[i].name%></option>
                    <% } %>
                </select><br/>
				<input type="text" placeholder="Attraction Theme" name="theme" /><br/>
				<textarea name="characters" placeholder="Which Disney friends did you meet here?"></textarea><br/>
				<textarea name="description" placeholder="Description of your magical experiences"></textarea><br/>
				<input type="submit" value="Create Attraction"/>
			</form>
		</main>
	</body>
</html>
