<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>
    			<% if(currentUser) { %>
        		Welcome <%=currentUser.username%> to Disneyland!
    			<% } else { %>
        		Welcome to Disneyland!
    			<% } %>
			</h1>
			<nav>
				<ul>
					<li>
						<a href="/areas">areas</a>
					</li>
					<li>
						<a href="/attractions">attractions</a>
					</li>
					<li><a href="/sessions/new">Log In</a></li>
					<li><a href="/users/new">Register</a></li>
					<% if(currentUser) { %>
    					<li>
        					<form action="/sessions?_method=DELETE" method="POST">
            					<input type="submit" value="Logout"/>
        					</form>
    					</li>
					<% } %>
				</ul>
			</nav>
		</header>
	</body>
</html>
