#park {
    width: 100%;
    height: 1100px;
    background-image: url("/images/park_layout.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 10px solid pink;
    }

.empty {
    width: 200px;
    height: 30px;
    color: white;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    z-index: 10;
}
