<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/forms.css">
		<link rel="stylesheet" href="/css/nav.css">
	</head>
	<body>

		<header>
		  <div id="nav">
		    <ul>
		        <li><a href="/">Home</a></li>
		        <li><a href="/areas">Areas</a></li>
		        <li><a href="/attractions">Attractions</a></li>
		    </ul>
		  </div>
		</header>

		<main>
			<form action="/areas/<%=area._id%>?_method=PUT" method="post" class="white-pink">
				<h1>Edit <%=area.name%>'s Name</h1>
				<label>
					<span>Edit Area Name</span>
					<input type="text" placeholder="Area Name" name="name" />
				</label>
				<label>
					<span>&nbsp;</span>
					<input type="submit" name="" value="Edit">
				</label>
			</form>
		</main>
	</body>
</html>
