<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/forms.css">
	</head>
	<body>
		<header>

			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/areas">Areas Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/areas" method="post" class="white-pink">
				<h1>Create an Area</h1>
				<label>
					<span>Create New Area Visited</span>
					<input type="text" placeholder="Area Name" name="name" />
				</label>
				<label>
					<span>&nbsp;</span>
					<input type="submit" name="" value="Create" class="button">
				</label>
			</form>
		</main>
	</body>
</html>
