<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/css/forms.css">
    </head>
    <body>

        <style>
            body {
                background-image: url("/images/tink.gif");
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>

        <form action="/users" method="post" class="white-pink">
            <h1>User Information
                <span>Please Enter Your Information Here</span>
            </h1>

            <label>
                <span>Username:</span>
                <input id="username" type="text" name="username" placeholder="Username" />
            </label>

            <label>
                <span>Password:</span>
                <input id="password" type="password" name="password" placeholder="Password" />
            </label>

            <label>
                <span>Your Name :</span>
                <input id="name" type="text" name="name" placeholder="Your Full Name" />
            </label>

            <label>
                <span>Your Email :</span>
                <input id="email" type="email" name="email" placeholder="Valid Email Address" />
            </label>

            <label>
                <span>About You :</span>
                <textarea id="message" name="about you" placeholder="About You"></textarea>
            </label>
             <label>
                <span>Child or Adult :</span><select name="selection">
                <option value="Child">Child</option>
                <option value="Adult">Adult</option>
                </select>
            </label>
             <label>
                <span>&nbsp;</span>
                <input type="submit" class="button" value="Submit" />
            </label>
        </form>

    </body>
</html>
